* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.initial {
    border: 1px solid red;
    height: 100px;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color:rgb(21, 78, 201);
    transition: .3s;
}
.nav-link:hover {
    color: brown;
}
/*main*/
.main {
    padding: 0 15px;
}
.contact-type {
    color: rgb(9, 76, 131);
    margin-right: 5px;
}
.code-example {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 0 20px;
    margin: -25px 0;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
}
.section {
    width: 50%;
}
@media (max-width: 768px) {
    .section {
      width: 100%;
    }
}