* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*header*/
.header {
    background-color: rgb(21, 78, 201);
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-link {
    padding: 0 20px;
    line-height: 30px;
    text-decoration: none;
    color:white;
    transition: .3s;
    font-weight: 600;
}
.nav-link:hover {
    color: brown;
}
/*main*/
.main {
    padding: 0 15px;
}
.avatar {
    width: 150px;
}
.contact-type {
    color: rgb(9, 76, 131);
    margin-right: 5px;
}
.code-example {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 0 20px;
    margin: -25px 0;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
}
.section {
    width: 50%;
    padding: 0 15px;
}
.wide-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
@media (max-width: 768px) {
    .section {
      width: 100%;
    }
}
.section-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color:rgb(21, 78, 201);
  }

/*footer*/
.footer-container {
    background-color: rgb(21, 78, 201);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    color: white;
    font-weight: 600;
}
.footer-container img {
    width: 20px;
}